export MILVUS_DATABASE=default
export MILVUS_HOST=localhost
export MILVUS_PORT=19530
export MILVUS_USER=root
export MILVUS_PASSWORD=Milvus

export OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
export OPENAI_API_MODEL=<YOUR_OPENAI_API_MODEL>
export OPENAI_API_BASE=<YOUR_OPENAI_API_BASE>

export OPENAI_API_KEY_COMPLETIONS=<YOUR_OPENAI_API_KEY_COMPLETIONS>
export OPENAI_API_MODEL_COMPLETIONS=<YOUR_OPENAI_API_MODEL_COMPLETIONS>
export OPENAI_API_BASE_COMPLETIONS=<YOUR_OPENAI_API_BASE_COMPLETIONS>

